@charset "utf-8";

html {
    font-size: 100%;
}
body {
    background-color: #f7f6f5;
    font-size: 16px;
    font-family: 'Noto Serif JP', "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    color: #333;
}
.header_title {
    padding: 30px 0;
    background-color: #eee;
}
.header_title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
}
h2 {
    margin: 80px 0 120px 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
}
.overView .overView_title {
    width: 20rem;
    padding: 8px 0;
    margin: 0 auto;
    background-color: #eee;
    border: #afafb0 1px solid;
    border-radius: 5px;
    text-align: center;
}
.overView .overView_name {
    margin-top: 20px;
    text-align: center;
}
.overView .summerSale {
    margin-top: 20px;
    text-align: center;
}
.summerSale .summerSale_newLine {
    margin: 10px 0 60px 0;
    display: block;
    text-indent: -7.5rem;
}

.target .target_title {
    width: 20rem;
    padding: 8px 0;
    margin: 0 auto;
    background-color: #eee;
    border: #afafb0 1px solid;
    border-radius: 5px;
    text-align: center;
}
.target .target_comment {
    margin-top: 20px;
    text-align: center;
}
.target_comment .target_newLine {
    margin: 10px 0 80px 0;
    display: block;
    text-indent: -2.5rem;
}
.banner_a_wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.banner_b_wrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.image_wrap h3 {
    width: 4rem;
    margin: 0 auto 7.5%;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    border-bottom: #afafb0 2px solid;
}
.image_wrap img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.uesd_etc_wrap {
    margin: 60px 0 40px 0;
    text-align: center;
}
.uesd_etc_wrap .uesd_etc {
    padding-bottom: 60px;
}
.uesd_etc_wrap dt {
    width: 20rem;
    padding: 8px 0;
    margin: 0 auto;
    background-color: #eee;
    border: #afafb0 1px solid;
    border-radius: 5px;
}
.uesd_etc_wrap dd {
    margin-top: 20px;
}
footer {
    background-color: #eee;
}
footer p {
    padding: 20px 0;
    text-align: center;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .header_title h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .newLine {
        display: block;
        text-indent: 1.5rem;
    }
}
/* 768px */

@media screen and (max-width: 620px) {
    .newLine_2 {
        display: block;
        text-indent: 1rem;
    }
}
/* 620px */

@media screen and (max-width: 500px) {
    .newLine_3 {
        display: block;
        text-indent: -3rem;
    }
}
/* 500px */

@media screen and (max-width: 430px) {
    .newLine {
        text-indent: 0rem;
    }
}
/* 430px */

@media screen and (max-width: 390px) {
    .header_title h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .image_wrap h3 {
        font-size: 1.1rem;
    }
}